In [1]:
# More details of print()

In [2]:
print('Hello, Python')

Hello, Python

In [3]:
print('Hello,'+'Python!') # if you use '+' sign to combine them, no space between them

Hello,Python!

In [4]:
print('Hello,','Python!') # if you use ',' to combine them, there is a space betweent them

Hello, Python!

In [6]:
# You can use both of comma and '+' sign to concatenate words..
# concatenate -> link together

In [7]:
# Q. My girl friend: Emma Watson

In [8]:
# use both + and , to concatenate words
print('My','girl','friend'+':','Emma','Watson')

My girl friend: Emma Watson

# What if we need to change the line ?

James is my friend.

He is a American.

In [9]:
# If you want to change a line, you need to use '\n'
# backslash n (\n)

In [10]:
print('James is my friend. \nHe is a American.')

James is my friend.
He is a American.

In [1]:
print('둉은 내꼬 \n내꼬는 내꼬!')

둉은 내꼬
내꼬는 내꼬!

In [11]:
# If a double space is needed, you can use \n twice.
print('James is my friend. \n\nHe is a American.')

James is my friend.

He is a American.

In [12]:
# Basic method to use print function

# Format method

## % using method

In [13]:
# print('%type' ,% data) --> (designate type of data, input the data)

In [15]:
#sigle data
data='Byunghoon'
# s(string),d(integer),f(float)
print('%s' % data)

Byunghoon

In [11]:
print('%s'% 1,3)

1 3

In [7]:
score=100
# s(string),d(integer),f(float)
print('My score is %s' % score,'.')

My score is 100 .

In [8]:
print('My score is %d'%score+'.')

My score is 100.

In [18]:
# Mutiple data
data1=3
data2=3.14
# Radius:3, Circumference: 3.14

In [19]:
print('Radius: %d, Circumference: %f' % (data1,data2))

Radius: 3, Circumference: 3.140000

## string.format()
- 데이터 타입을 정의할 필요가 없음 
- 인풋 데이터를 순서대로 적지 않아도 됌

In [20]:
# single input
animal_0='cat'
animal_1='dog'
animal_2='fox'
print('Animal: {0}'.format(animal_0))

Animal: cat

In [24]:
# multiple input
print('Animal: {0},{1},{2}'.format(animal_0,animal_1,animal_2)) #{0} = index number

Animal: cat,dog,fox

In [26]:
print('Animal: {0},{2},{1}'.format(animal_0,animal_1,animal_2))

Animal: cat,fox,dog

In [31]:
## string, integer, float
name='BH'
age=41
HEIGHT=180.5
my_profile='Name: {0}, Age: {1}, Height: {2}'

In [32]:
print(my_profile.format(name,age,HEIGHT))

Name: BH, Age: 41, Height: 180.5

In [33]:
# Print
# Basic -> print(string)
# format -> define a format of the input 
  # %
  # string.method()

# input

In [12]:
# lst way to define the value of data
input('What is your name?')

What is your name?둉

'둉'

In [13]:
# 2nd way to define the value of data
data=input('What is your name?')

What is your name?둉

In [14]:
# value of the variable data
data

'둉'

### Print statement using string.format method but use input function to define the value of variable

In [39]:
# define the value of a variable 
myName=input('What is your name?')
# print a string using string.format() method and the defined variable 
print('My name is {0}'.format(myName))

What is your name?Byunghoon
My name is Byunghoon

In [1]:
# I want to calculate the area of a square..
# define the value of a variable 
length=input('What is the length of a square?')
Area=int(length)**2
# print a string using string.format() method and the defined variable 
print('The area is {0}'.format(Area))

What is the length of a square?5
The area is 25

### 데이터 타입 변경 (int,float,str)

In [2]:
# inter->float 
type(0)

int

In [3]:
float(0)

0.0

In [4]:
type(float(0))

float

In [5]:
# inter->string
type(str(0))

str

In [6]:
# float->inter
int(0.00)

0