# Built-in Data structure

- List :sequence / array / update item easily (mutable)가변 / iterable (반복 가능한 객체)
- Tuple : sequence / array / cannot update item (immuatable)불변 / iterable (반복 가능한 객체)
- 따라서, list는 딕셔너리의 key값(해쉬값)으로 쓸 수 없지만, tuple은 가능하다. 하지만, 만약 다음과 같이 튜플에 리스트가 들어있는 경우라면 이 경우는 키 값으로 사용할 수 없다.
- Dictionary : mapping / {key:value, ...} ex) {ID:Name}
- sequence : 데이터를 순서대로 하나씩 나열하여 나타낸 데이터 구조다, 특정 위치(~번째)의 데이터를 가리킬 수 있다. 
-  어떤 기준에 따라 정렬되었을 수도 있고 무작위로 나열되었을 수도 있다. 요소에 번호를 붙여 순서대로 관리한다는 점은 모두 똑같다.
- array: 같은 종류의 데이터들이 순차적으로 저장된다. 값의 번호가 곧 배열의 시작점으로 상대적 위치가 존재한다.

4. 객체를 복사하는 방식의 차이 (190219 추가)
list의 경우, 다음과 같은 방식들로 객체를 복사할 경우 서로 Identity가 다른 객체로 복사된다.

즉, is 로 비교를 했을때 같은 객체가 아닌 새로운 객체가 생긴다는 뜻이다.

하지만 tuple의 경우, 동일한 방식으로 복사할 경우 서로 Identity가 같은 객체로 복사된다.

즉, list처럼 새로운 메모리에 값을 할당하는 것이 아니라,

복사된 변수가 원본과 같은 객체를 가리키고있다는 뜻이다.

In [1]:
list1=[]

In [2]:
type(list1)

list

In [5]:
list2=list()

In [6]:
type(list2)

list

In [7]:
list3=list([1,2,3])

In [8]:
type(list3)

list

In [9]:
list3

[1, 2, 3]

In [1]:
# LIST
# most often used data structure

In [1]:
# create a list
# use []
midterm_score = [90,95,85,80] # midterm_score = list name , four items seperated by ','(comma)

In [3]:
type(midterm_score) #check the type of data

list

## Access values in List

In [5]:
midterm_score[0]

90

In [6]:
midterm_score[1]

95

In [2]:
midterm_score[-2]

85

## Replace or update values in List

### Q. Replace the 95 with 100.

In [8]:
midterm_score[1]=100

In [9]:
midterm_score

[90, 100, 85, 80]

In [10]:
# string is character

In [11]:
my_Friends=['Ethan_Hawke','Brad_Pitt','Chris_Evans','Emma_Watson']

In [12]:
my_Friends[2]

'Chris_Evans'

In [13]:
my_Friends[3]='Emma_Thompson'

In [14]:
my_Friends

['Ethan_Hawke', 'Brad_Pitt', 'Chris_Evans', 'Emma_Thompson']

### Note. Element of a list can be anything among number, string, another list

In [17]:
mixedList=[0,2,3.14,'python','programming',[0,1]]

In [18]:
mixedList

[0, 2, 3.14, 'python', 'programming', [0, 1]]

## Combining multiple lists

In [20]:
list_con1=[1,2,3,4]
list_con2=[5,6,7,8]

In [21]:
list_con2

[5, 6, 7, 8]

In [23]:
# sum of lists is combining the lists
print(list_con1+list_con2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [24]:
# mutiplication ? 
list_con1*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

## Slicing

In [25]:
list_data=[0,1,2,3,4,5,6,7,8,9]

In [26]:
list_data[2:7]

[2, 3, 4, 5, 6]

#### list[i_start : i_end : i_step]
- i_start : starting index
- i_end : ending index -1 
- [i_start, i_end)
- i_step : step size

In [27]:
list_data[0:3]

[0, 1, 2]

In [28]:
list_data[0:3:2]

[0, 2]

- type A in the command mode -> creat a new above
- type double D in the command mode -> del the cell

In [30]:
list_data[2:] # do not type i_end -> the last index

[2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
list_data[:8] # do not type i_start -> 0-the index

[0, 1, 2, 3, 4, 5, 6, 7]

In [32]:
list_data[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
list_data[::2]

[0, 2, 4, 6, 8]

## Delete

In [36]:
list_data

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
# 6 -> value of the data

In [38]:
del list_data[6] # index of the data

In [39]:
list_data

[0, 1, 2, 3, 4, 5, 7, 8, 9]

## List methods

### Method: function of data type 'list' to manipulate the dataset

- append 
- insert
- extend 
- remove
- pop
- index
- count
- sort

append : add **an** element to the end of a list

In [40]:
z=[3,7,4,2]

In [41]:
z.append(0)

In [42]:
z

[3, 7, 4, 2, 0]

insert : insert **an** item before the index you provide

In [45]:
z.insert(3,2) # z.insert(location, new value)

In [50]:
z

[3, 7, 4, 2, 2, 0, [1, 2]]

extend : append another list to the end of a list

In [57]:
z.extend([1,2])

In [60]:
z

[0, 2, 4, 7, 1, 2]

pop : remove an item at the index you provide and return it

In [54]:
z.pop(1)

2

In [62]:
z

[0, 1, 2, 2, 4, 7]

sort

In [61]:
z.sort() # sort the list in the ascending order

In [63]:
z

[0, 1, 2, 2, 4, 7]

In [64]:
z.sort(reverse=True) # sort the list in the descending order

In [65]:
z

[7, 4, 2, 2, 1, 0]

count : counts the number of times a value occurs in the list

In [66]:
z.count(2)

2

In [67]:
z.count(10)

0

index : return the first index at which a value occurs

In [70]:
z.index(4)

1

In [71]:
z.index(2)

2

In [72]:
z.index(2,2) # (the value you are searching, starting index)

2

In [75]:
z.index(2,3)

3

# list

In [76]:
# how to create a list, access values, combine, manipulate the list using methods

In [77]:
## Meeting: Monday AM 11:30 (Mar 23rd)